body {
    font-family: "Roboto", sans-serif;
    min-height: 90vh;
}

.main {
    width: auto;
    margin: auto;
    min-width: 300px;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
